*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav, ul{
    list-style: none;
}
.menu>li>a{
    text-decoration: none; 
    cursor: pointer; 
    opacity: 0.9;
}
.menu>li>a:hover{
    opacity: 1; 
    font-weight: 500; 
    color: black; 
    border-radius: 4px;
}
.menu>li>a:hover{
    opacity: 1; 
    background-color: #fff; 
    color: ​#000000; 
    border-radius: 6px;
    
}


body {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #293651;
    overflow-x: hidden;
   
}


                /* -------------------Layout----------------------- */

.paragrafo {
    line-height: 2rem;
    }
.margin-text{
    line-height: 4rem;
}

.titulo{
    background-color: rgba(0, 167, 142); 
    width: 98%;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    padding: 0 40px;
    line-height: 55px;
    margin: 10px;
    border-radius: 5px;
    color: #dae0e0;
    
}
.titulo2{
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    white-space: nowrap;
    padding: 0 40px;
    line-height: 55px;
    margin: 25px 10px 10px;
    border-radius: 5px;
    color: #dae0e0;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    padding: 0 40px;
    font-size: 20px;
    line-height: 55px;
    background-color: #00a78e;
    height: 55px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    
}

.btn:hover {
    background-color: #05c0a4;
}
    
.cor-primaria {
    color: #00a78e;
}
    
.cor-secundaria {
    color: #767777;
}
    
.sem-destaque {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}
    
.destaque-fonte{
    font-weight: 900;
    font-size: 45px;
}  

.fundo-escuro{
    background: #151019;
}

.fundo-azul{
    background: linear-gradient(180deg, #0f51df, #3f3f3f);
}
.fundo-verde{
    background: linear-gradient(180deg, #05c0a4, #3f3f3f);
}

.text-left{
    display: inline-block;
    float: left;
    text-align: left;
    width: 50%;
    clear: both;
    margin-left: 3%;
}

.text-left:first-child{
    margin-top: 5%;
}


.imagem{
    display: flex;
    justify-content: flex-end;
}

.borda-destaque{
    border: 2px solid #767777;
    border-radius: 5px;
    background: linear-gradient(180deg, #0f51df, #3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
        inset 0 -8px 8px rgba(0, 0, 0, 0.25),
        0 0 0 2px rgba(0, 0, 0, 0.75),
        10px 20px 25px rgba(0, 0, 0, 0.4);
    
}

.inline-block{
    display: inline-block;
    padding-top: 6.9%;
    width: 100%;
    clear: both;
}
                                            

            /* ---------------------HEADER----------------- */



.navbar{
    background-color: rgba(0, 167, 142, 0.899); 
    width: 100%; 
    position: fixed; 
    z-index: 2;
    top: 0; 
    left: 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 50px;
}

.logo{
    font-family: 'Roboto','Courier New', Courier, monospace;
    font-size: 35px; 
    color: white; 
    border: white 3px solid; 
    padding: 4px; 
    border-radius: 4px; 
    text-decoration: none;}


.menu{
    display: flex;
}

.menu>li>a{
    color: black; font-size: large;
}

.menu>li{
    margin: 0 15px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li:last-child {
    margin-right: 0;
}


            /* -----------------------Conteúdo------------------- */


.conteudo{
     display: flex; 
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     background-size: cover;
     min-height: 100vh;     
}


.item1{
    width: 55%;
    padding-bottom: auto;
    margin-left: 50px;
}
.imagem{
    margin-top: 90px;
}


 
        /* --------------------------Sobre Página 2-------------------------  */



.item-pg2{
    display: inline-block;
    padding: 20px;
    height: 90%;
    width: 94%;
    margin: 3%;
    border-radius: 7px;
    color: #dae0e0;
}

.img-pg2{
    display: inline-block;
    float: right;
    text-align: start;
    clear: both;
    margin: -28% 5% 0 0;   
}


    /* ------------------------- Projetos pag3 ----------------- */

.conteudo-projeto{
    display: flex;
    flex-flow: row;
    padding-top: 2px;
}

li.item-projeto{
    font-size: 93%;
    height: 50%;
    padding: 3% 30px 30px 30px;
    text-align: left;
    margin: 2% 5px 0 15px;
    border: 2px solid #767777;
    border-radius: 5px;
    background: linear-gradient(180deg, #0f51df, #3f3f3f);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15),
        inset 0 -8px 8px rgba(0, 0, 0, 0.25),
        0 0 0 2px rgba(0, 0, 0, 0.75),
        10px 20px 25px rgba(0, 0, 0, 0.4);
    color: #dae0e0;
}
.item-projeto:first-child{
    margin-left: 3%;
}

.img-projeto{
    align-items: center;
    width: 100%;
    box-shadow: #05c0a4 2px;
    border-radius: 5px;
    margin: 35px 3px 10px  ;
    /* padding: 0 30px 0 0; */
    /* text-align: center; */
}


        
    /* ---------------------Habilidades--------------------- */


.img-abouthero{
    margin: 2% 0 0 5%;
    padding-bottom: 4%;
}

.item4{
    display: inline-block;
    margin: -5% 0 2% 5%;
    width: 45%;
    padding-top: 7%;
}
.item4>h2,h3{
    margin-bottom: 6px;
    font-weight: 600;
}
.item4>h2{
    color: #210737;
    margin-bottom: 9px;
}



.barra {
    background-color: #abb0b0;
    color: #151019;
    position: absolute;
    width: 40%;
    border-radius: 10px;
    /* padding: 0 2rem 0 0; */
}

.barra-interna{
    background-color: #00a78e;
    border-radius: 10px 0 0 10px;
    width: 10%;
    
}

.graph{
    margin-top: 8%;
}

.graph>li{
    color: #151019;
}
.percent{
    padding: 0 75% 0 0;
    
}


/* ---------------------Rodapé-------------------------- */

.container-rodape{
    display: inline-block;
    width: 100%;
    padding-bottom: 6%;
    margin-top: 6%;
    
}    

.item5{
    padding: 2% 0 4% 0;
    text-align: center;
}

.icon{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border: #00a78e 2px solid;
    border-radius: 20px;
    margin: 0 0 2% 40%;
    padding: 8px 0;
    width: 20%;
    left: 50%;
}
.icon>a{
    color: #00a78e;
    text-decoration: none;
   
}




   /* ---------------------Estilo Responsivo mobile--------------------- */


@media screen and (max-width: 767px) {
    .container{
        display: inline-block;
       
    }
    body{
        position: absolute;
    }
    .responsive{
        display: flex;
        flex-flow: column wrap;
        width: 100%;
        align-items: center;
    }

    .inline-block{
        display: inline-block;
        width: 100%;
    }

    .text-left{
        display: inline-block;
        float: left;
        text-align: left;
        width: auto;
        clear: both;
        margin-left: 3%;
    }
    .img-pg2{
        display: inline-block;
        float: left;
        text-align: left;
        width: auto;
        clear: both;
        margin-left: 3%;
        margin-top: 5%;
    }
    .item-pg2{
        width: auto;
    }
    .item-prjeto{
        height: 50%;
        padding: 3% 30px 30px 30px;
        text-align: left;
        margin: 2% 5px 0 15px;        
    }
    .conteudo-projeto{
        display: flex;
        flex-flow: column wrap;
        
        
    }
    .navbar{flex-direction: column; align-items: flex-start;}
    .logo{text-align: center; margin: 0 0 15px 5%; }
    .item1{width: auto; padding: auto; font-size: 20px; margin-top: 130px;}
    .imagem{display: flex; flex-flow: row wrap; justify-content: flex-end; image-rendering: auto;}

}

/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
    h1 {
      font-size: 50px;
    }

    .conteudo-projeto{
        flex-direction: column;
        margin-top: 5px;
    }
    
  }

/* sm */
@media screen and (min-width: 768px) {
    h1 {
      font-size: 70px;
    }
}

/* md */
@media screen and (min-width: 992px) {
    h1 {
      font-size: 80px;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    h1 {
      font-size: 100px;
    }
}





